<footer>
  <div class="container">
    <ul>
      <li>Powered by <a href="https://codeberg.org/snaums/mvoCI">mvoCI (My Very Own CI)</a> {{ app_version }}</li>
      <li><a href="/impress">Impress</a></li>
      {{ if and (eq (config "Api.Enable") "true") (eq (config "Api.ListingEnable") "true")}}
        {{ if or (eq (config "Api.ListingNeedsAuth") "false") (.user ) }}
          <li><a href="/api/v1">API</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</footer>
