{{ define "title" }}Dashboard{{ end }}
{{ define "toolbar" }}
    <li>
      <a href="/dashboard?mine=1">
        <i class="fa fa-crown"></i>My Repositories
      </a>
    </li>
    <li>
      <a href="/dashboard">
        <i class="fa fa-plus"></i>Visible Repository
      </a>
    </li>
{{ end }}
{{ define "content" }}
<h2>Dashboard</h2>
{{ if .queue }}
  <h3>Queue</h3>
    {{ range .queue }}
        <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item commit-message">
                <a href="/repo/view/{{ .RepositoryID }}">
                  {{ .Repository.Name }}{{ if eq .CommitMessage "" }}{{ else }} » {{ .CommitMessage }}{{ end }}
                </a>
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                <i class="fa fa-clock-o"></i>{{ .Duration }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
                <a href="/repo/view/{{ .RepositoryID }}" title="View Repository" class="fa fa-folder"></a>
                <a href="/build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        </span>
      </div>
    {{ end }}
{{ end }}

    <h3>Recent Builds</h3>
    {{ range .builds }}
    <div class="block-link">
        <span class="block">
          <span class="left-side">
            <span class="block-item block-icon">
                {{ build_status .Status }}
            </span>
            <span class="block-item">
              <span class="block-top-item commit-message">
                <a href="/repo/view/{{ .RepositoryID }}">
                  {{ .Repository.Name }}{{ if eq .CommitMessage "" }}{{ else }} » {{ .CommitMessage }}{{ end }}
                </a>
              </span>
              <span class="block-bottom-item block-fa">
                {{ .CommitSha }}
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item">
              <span class="block-top-item block-fa">
                <i class="fa fa-calendar-o"></i>{{ render_time .StartedAt }}
              </span>
              <span class="block-bottom-item block-fa">
                <i class="fa fa-clock-o"></i>{{ .Duration }}
              </span>
            </span>
            <span class="block-item dashboard-icons">
              {{ if eq .Zip "" }}{{ else }}
                <a href="/zip/{{ .Zip }}" title="Download ZIP" class="fa fa-download"></a>
              {{end}}
                <a href="/repo/view/{{ .RepositoryID }}" title="View Repository" class="fa fa-folder"></a>
                <a href="/build/{{ .ID }}" title="View Build" class="fa fa-chevron-right"></a>
            </span>
          </span>
        </span>
      </div>
    {{ else }}
    <div class="messages info">
      <span class="icon">
        <i class="fa fa-info-circle"></i>
      </span>
      <div>No builds</div>
    </div>
    {{ end }}
{{ end }}

