{{ define "title" }}Installation | Database Configuration{{ end }}
{{ define "toolbar" }}
    <li class="install_done"><a href="{{ call $.installpage 1 }}">Intro</a></li> »
    <li class="install_current"><a href="{{ call $.installpage 2 }}">Database Configuration</a></li> »
    <li class="install_next"><a href="{{ call $.installpage 3 }}">First User</a></li> »
    <li class="install_next"><a href="{{ call $.installpage 4 }}">Finished</a></li>
{{ end }}

{{ define "content" }}
<h2>Database Configuration | Installation</h2>
{{ render_error_list (call $.errors) }}
  <form method="post" action="/install/post/2">
    <div class="field required">
      <label for="db_type">Database System</label>
      <div class="infobox">
        Select which database you are running.
      </div>
      <select id="db_type" name="db_type" size="1">
        <option value="sqlite3"{{ if eq (config "Database.Provider") "sqlite3"}} selected{{else}}{{end}}>SQLite</option>
        <option value="postgres"{{ if eq (config "Database.Provider") "postgres"}} selected{{else}}{{end}}>PostgreSQL</option>
        <option value="mysql"{{ if eq (config "Database.Provider") "mysql"}} selected{{else}}{{end}}>MySQL / MariaDB</option>
        <option value="mssql"{{ if eq (config "Database.Provider") "mssql"}} selected{{else}}{{end}}>MSSQL</option>
      </select>
    </div>
    <div class="group" id="sqlite3_group">
      <h3>SQLite Settings</h3>
      <div class="field required">
        <label for="sqlite3_file">SQLite Filename</label>
        <div class="infobox">
          The file, which is used by SQLite. You may use :memory:, this is not recommended for productive use, however.
        </div>
        <input id="sqlite3_file" name="sqlite3_file" type="text" value="db.sqlite">
      </div>
    </div>
    <div class="group" id="postgres_group">
      <h3>PostgreSQL Settings</h3>
      <div class="field required">
        <label for="postgres_ssl">Required and Verify SSL</label>
        <div class="infobox">
          Determines, whether or not a SSL connection to Postgres should be required and even verified?
        </div>
        <select id="postgres_ssl" name="postgres_ssl" size="1">
          <option value="verify-full" selected>Verify completely</option>
          <option value="verify-ca">Verify certificate</option>
          <option value="require">Require SSL (but skip verification)</option>
          <option value="disable">No SSL required and no verification</option>
        </select>
      </div>

      <div class="field required">
        <label for="postgres_host">Host</label>
        <div class="infobox">
          Select the host, the database runs on. Unix
          socket is recommended, when the server runs on the same machine.
        </div>
        <input id="postgres_host" name="postgres_host" type="text" value="localhost">
      </div>
      <div class="field required">
        <label for="postgres_port">Port</label>
        <div class="infobox">
          The port Postgres is listening on. Defaults to 5432.
        </div>
        <input id="postgres_port" name="postgres_port" type="number" value="5432">
      </div>
      <div class="field required">
        <label for="postgres_user">Username</label>
        <div class="infobox">
          Username for connecting to the database.
        </div>
        <input id="postgres_user" name="postgres_user" type="text" value="postgres">
      </div>
      <div class="field required">
        <label for="postgres_password">Password</label>
        <div class="infobox">
          The password for the connection to Postgres.
        </div>
        <input id="postgres_password" name="postgres_password" type="password" value="password">
      </div>
      <div class="field required">
        <label for="postgres_database">Database</label>
        <div class="infobox">
          Database to use.
        </div>
        <input id="postgres_database" name="postgres_database" type="text" value="fluxci">
      </div>
    </div>
    <div class="group" id="mysql_group">
      <h3>MySQL Settings</h3>
      <div class="field">
        <label for="mysql_host">Host</label>
        <div class="infobox">
          Select the host, the database runs on.
        </div>
        <input id="mysql_host" name="mysql_host" type="text" value="localhost">
      </div>
      <div class="field required">
        <label for="mysql_port">Port</label>
        <div class="infobox">
          The port MySQL / MariaDB is listening on. Defaults to 3306.
        </div>
        <input id="mysql_port" name="mysql_port" type="number" value="3306">
      </div>
      <div class="field required">
        <label for="mysql_user">Username</label>
        <div class="infobox">
          Username for connecting to the database.
        </div>
        <input id="mysql_user" name="mysql_user" type="text" value="mysql">
      </div>
      <div class="field required">
        <label for="mysql_password">Password</label>
        <div class="infobox">
          The password for the connection to Postgres.
        </div>
        <input id="mysql_password" name="mysql_password" type="password" value="password">
      </div>
      <div class="field required">
        <label for="mysql_database">Database</label>
        <div class="infobox">
          Database to use.
        </div>
        <input id="mysql_database" name="mysql_database" type="text" value="fluxci">
      </div>
    </div>
    <div class="group" id="mssql_group">
      <h3>MSSQL Settings</h3>
      <div class="field">
        <label for="mssql_host">Host</label>
        <div class="infobox">
          Select the host, the database runs on.
        </div>
        <input id="mssql_host" name="mssql_host" type="text" value="localhost">
      </div>
      <div class="field required">
        <label for="mssql_port">Port</label>
        <div class="infobox">
          The port MSSQL is listening on.
        </div>
        <input id="mssql_port" name="mssql_port" type="number" value="3306">
      </div>
      <div class="field required">
        <label for="mssql_user">Username</label>
        <div class="infobox">
          Username for connecting to the database.
        </div>
        <input id="mssql_user" name="mssql_user" type="text" value="mysql">
      </div>
      <div class="field required">
        <label for="mssql_password">Password</label>
        <div class="infobox">
          The password for the connection to Postgres.
        </div>
        <input id="mssql_password" name="mssql_password" type="password" value="password">
      </div>
      <div class="field required">
        <label for="mssql_database">Database</label>
        <div class="infobox">
          Database to use.
        </div>
        <input id="mssql_database" name="mssql_database" type="text" value="fluxci">
      </div>
    </div>
    <input type="submit" value="Proceed">
  </form>

<script language="javascript" type="text/javascript">
function hide ( obj ) {
    if ( !obj.classList.contains("hidden") ) {
        obj.classList.add("hidden");
    }
}

function show ( obj ) {
    if ( obj.classList.contains("hidden") ) {
        obj.classList.remove("hidden");
    }
}

document.addEventListener("DOMContentLoaded", function () {
    var sqlite = document.getElementById("sqlite3_group");
    hide( sqlite );
    hide( document.getElementById ("postgres_group"));
    hide( document.getElementById("mysql_group"));
    hide( document.getElementById("mssql_group"));

    var v = document.getElementById("db_type").value;
    console.log(v)
    if ( v == "mysql" || v == "sqlite3" || v == "postgres" || v == "mssql" )
    {
         show( document.getElementById(v + "_group") );
    }
    else
    {
         show (sqlite);
    }

    document.getElementById("db_type").addEventListener("change", function () {
        hide( sqlite );
        hide( document.getElementById ("postgres_group"));
        hide( document.getElementById("mysql_group"));
        hide( document.getElementById("mssql_group"));

        var v = document.getElementById("db_type").value;
        console.log(v)
        if ( v == "mysql" || v == "sqlite3" || v == "postgres" || v == "mssql" )
        {
             show( document.getElementById(v + "_group") );
        }
        else
        {
             show (sqlite);
        }
    });
});
</script>
{{ end }}
