{{ define "title" }}{{end}}
{{ define "toolbar" }}
  <li>
    <a href="/oauth">
      <i class="fa fa-chevron-left"></i>OAuth Token
    </a>
  </li>
{{ end }}

{{ define "content" }}
  <h2>Add OAuth-Token</h2>
  {{ render_error_list .errors }}
  <div class="infobox">
    Please use the following URL in your VCS as Redirect Url:
    <pre>{{ .redirectUrl }}</pre>
  </div>

  <form method="post" action="/oauth/add">
    <div class="field required">
      <label for="oauth_name">Name</label>
      <input type="text" id="oauth_name" name="oauth_name" value="" placeholder="Name"/>
    </div>
    <div class="field required">
      <label for="oauth_api">API</label>
      <select name="oauth_api" id="oauth_api" size="1">
        <option value="gitea">Gitea</option>
      </select>
    </div>
    <div class="field required">
        <label for="oauth_url">Url</label>
        <input type="text" id="oauth_url" name="oauth_url" value="" placeholder="https://git.example.org">
    </div>
    <div class="field required">
        <label for="oauth_clientId">Client-ID</label>
        <input type="text" id="oauth_clientId" name="oauth_clientId" value="">
    </div>
    <div class="field required">
        <label for="oauth_clientSecret">Client-Secret</label>
        <input type="text" id="oauth_clientSecret" name="oauth_clientSecret" value="">
    </div>
    <input type="hidden" name="oauth_id" value="{{ .oauthid }}">
    <button class="btn-primary">Authenticate with Provider</button>
  </form>
{{ end }}
