{{ define "title" }}Repo Members{{end}}
{{ define "toolbar" }}
  <li>
    <a href="/repo/view/{{ .repo.ID }}">
      <i class="fa fa-chevron-left"></i>{{ .repo.Name }}
    </a>
  </li>
{{ end }}

{{ define "content" }}
  <h2>Groups and members for {{.repo.Name}}</h2>
  {{ render_error_list .errors }}
  <div class="infobox">
      Access control on repositories works like this: The owner and every superuser always has complete access to the repository.<br /><br />

      For every other user, the memberships are checked. If no matching memberships exists, access is forbidden, it is not shown to the user and they cannot access it. <br /><br />

      If there are memberships, user-memberships take precedence over group memberships. Forbidden again takes precedence, so if any of the users-memberships or (if no individual ones are present) any group memberships say forbidden, access is forbidden. If not the highest privilege level is chosen of all applicable memberships.
  </div>
  <h3>Current Memberships</h3>
  <h4>Users</h4>
  {{ range .superusers }}
        <span class="block">
          <span class="left-side">
              <span class="block-item block-icon">
                {{ if not .Superuser }}
                <i class="fa fa-crown"></i>
                {{ else }}
                <i class="fa fa-user-secret"></i>
                {{ end }}
            </span>
            <span class="block-item">
              <span class="block-top-item strong">
                <a href="/user/{{ .ID }}">
                    User: {{ .Name }}
                </a>
              </span>
              <span class="block-bottom-item">
                {{ if not .Superuser }}
                Owner (AclComplete)
                {{ else }}
                Superuser (AclComplete)
                {{ end }}
              </span>
            </span>
          </span>
        </span>
  {{ end }}

  {{ range $user := .aclUser }}
        <span class="block">
          <form method="post" action="/repo/members/{{$.repo.ID}}">
          <span class="left-side">
            <span class="block-item block-icon">
                <i class="fa fa-user"></i>
            </span>
            <span class="block-item">
              <span class="block-top-item strong">
                <a href="/user/{{ $user.User.ID }}">
                  {{ $user.User.Name }}
                </a>
              </span>
              <span class="block-bottom-item">
                <select size=1 name="aclLevel">
                  {{ range $key, $value := $.aclLevel }}
                    <option value="{{$key}}"{{ if eq $key $user.AccessLevel }} selected{{end}}>{{$value}}</option>
                  {{ end }}
                </select>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
              <input type="hidden" name="aclId" value="{{$user.ID}}">
              <button class="btn-primary">Update</button>
              <a href="/repo/members/{{$.repo.ID}}/delete/{{$user.ID}}" class="error fa fa-trash"></a>
            </span>
          </span>
          </form>
        </span>
    {{ else }}
        <div class="info">No individual user memberships set</div>
    {{ end }}

  <h4>Groups</h4>
  {{ range $group := .aclGroup }}
        <span class="block">
          <form method="post" action="/repo/members/{{$.repo.ID}}">
          <span class="left-side">
            <span class="block-item block-icon">
                <i class="fa fa-group"></i>
            </span>
            <span class="block-item">
                <span class="block-top-item strong">
                <a href="/user/group/{{ $group.Group.ID }}">
                    {{ $group.Group.Name }}
                </a>
              </span>
              <span class="block-bottom-item">
                <select size=1 name="aclLevel">
                  {{ range $key, $value := $.aclLevel }}
                    <option value="{{$key}}"{{ if eq $key $group.AccessLevel }} selected{{end}}>{{$value}}</option>
                  {{ end }}
                </select>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
              <input type="hidden" name="aclId" value="{{$group.ID}}">
              <button class="btn-primary">Update</button>
              <a href="/repo/members/{{$.repo.ID}}/delete/{{$group.ID}}" class="error fa fa-trash"></a>
            </span>
          </span>
          </form>
        </span>
    {{ else }}
        <div class="info">No group memberships set</div>
    {{ end }}

  <h3>Add Groups</h3>
  {{ range .myGroups }}
        <span class="block">
          <form method="post" action="/repo/members/{{$.repo.ID}}">
          <span class="left-side">
              <span class="block-item block-icon">
                  <i class="fa fa-group-plus"></i></span>

            <span class="block-item">
              <span class="block-top-item strong">
                {{ .Name }}
              </span>
              <span class="block-bottom-item">
                <select size=1 name="aclLevel">
                  {{ range $key, $value := $.aclLevel }}
                    <option value="{{$key}}">{{$value}}</option>
                    {{ end }}
                </select>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
              <input type="hidden" name="aclGroupId" value="{{.ID}}">
              <input type="submit" name="submit" value="Add">
            </span>
          </span>
          </span>
          </form>
        </span>
    {{ end }}
    <h3>Add Users</h3>
    {{ range .users }}
        <span class="block">
          <form method="post" action="/repo/members/{{$.repo.ID}}">
          <span class="left-side">
              <span class="block-item block-icon">
                  <i class="fa fa-plus"></i></span>

            <span class="block-item">
              <span class="block-top-item strong">
                {{ .Name }}
              </span>
              <span class="block-bottom-item">
                <select size=1 name="aclLevel">
                  {{ range $key, $value := $.aclLevel }}
                    <option value="{{$key}}">{{$value}}</option>
                    {{ end }}
                </select>
              </span>
            </span>
          </span>
          <span class="right-side">
            <span class="block-item dashboard-icons">
              <input type="hidden" name="aclUserId" value="{{.ID}}">
              <input type="submit" name="submit" value="Add">
            </span>
          </span>
          </span>
          </form>
        </span>
    {{ end }}
{{ end }}
